:root {
    --so-dark: #000;
    --so-light: #fff;
    --so-navbar-height: 66px;
    --so-accent-font: 'Poppins', sans-serif;
    --so-heading-font: 'JetBrains Mono', monospace;
    --so-main-font: 'Roboto', sans-serif;
    --so-main-gradient: linear-gradient(90deg, #8A2387 0%, #E94057 50%, #F27121 100%);
    --so-text-linear-gradient: -webkit-linear-gradient(0deg, #8A2387 0%, #E94057 50%, #F27121 100%);
    --so-feature-card-offset: 200px;
    --so-border-light: 2px solid var(--so-light);
    --so-button-font: var(--so-heading-font);
    --so-button-font-size: inherit;
    --so-button-padding: 6px 8px;
    --so-button-weight: 400;
    --so-card-padding: 30px;
    --so-card-extra-padding: 40px;
    --so-hero-font-size: 1.2rem;
    --so-hero-font-spacing: 1.2;
    --so-feature-icon-size: 80px;
    --so-main-heading-size: 1.4rem;
    --so-lead-paragraph-size: 1.1rem;
    --so-lead-paragraph-line-height: 1.4;
    --so-section-spacing: 2rem;
    --so-image-spacing: 100px;
    --so-navbar-padding: 20px;
}

@media(min-width: 1024px) {
    :root {
        --so-button-padding: 16px 24px;
        --so-button-font-size: 24px;
        --so-main-heading-size: 32px;
        --so-lead-paragraph-size: 20px;
        --so-section-spacing: 128px;
        --so-hero-font-size: 24px;
    }
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--so-main-font);
    color: var(--so-dark);
    line-height: 1;
}

.so-main-heading {
    font-family: var(--so-heading-font);
    font-size: var(--so-main-heading-size);
    font-weight: 700;
    margin-bottom: 1em;
}

.so-main-heading:last-child {
    margin-bottom: 0;
}

.so-main-text-gradient {
    background: var(--so-text-linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.so-lead-paragraph {
    font-size: var(--so-lead-paragraph-size);
    line-height: var(--so-lead-paragraph-line-height);
    margin-bottom: 1em;
}

.so-lead-paragraph:last-child {
    margin-bottom: 0;
}

.so-button-container {
    display: inline-block;
    position: relative;
}

.so-button-container::before {
    content: '';
    background: var(--so-main-gradient);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s ease;
}

.so-button-container:hover::before {
    opacity: 1;
}

.so-button-container .so-button {
    position: relative;
}

.so-button-container .so-button:hover {
    background-color: transparent;
    color: var(--so-light);
}

.so-button {
    display: inline-block;
    font-family: var(--so-button-font);
    padding: var(--so-button-padding);
    font-weight: var(--so-button-weight);
    font-size: var(--so-button-font-size);
    transition: all .3s ease;
    outline: none;
    border: none;
}

.so-button--dark {
    background-color: var(--so-dark);
    color: var(--so-light);
}

.so-navbar {
    background-color: var(--so-dark);
    color: var(--so-light);
    height: var(--so-navbar-height);
    padding: 0 var(--so-navbar-padding);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background-color .3s ease;
}

.so-navbar--transparent {
    background-color: transparent;
}

.so-navbar__main-row {
    height: 100%;
}

@media(min-width: 1024px) {
    .so-navbar__main-row {
        display: flex;
        align-items: center;
    }
}

.so-navbar__main-column {
    flex-shrink: 0;
}

.so-navbar__logo {
    font-size: 28px;
    font-family: var(--so-accent-font);
    font-weight: 700;
    user-select: none;
}

.so-navbar__main-column--links {
    display: none;
    font-family: var(--so-heading-font);
    font-weight: 400;
}

@media(min-width: 1024px) {
    .so-navbar__main-column--links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
    }
}

.so-navbar__main-column--links > li {
    margin-right: 20px;
}

.so-navbar__main-column--links > li > a {
    display: block;
    color: inherit;
    padding: 10px 0;
    position: relative;
}

.so-navbar__main-column--links > li > a::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--so-light);
    opacity: 0;
    transition: opacity .3s ease;
}

.so-navbar__main-column--links > li > a:hover::after {
    opacity: 1;
}

.so-navbar__main-column--links > li > a.so-navbar__contact-button {
    padding: 10px 16px;
    border: var(--so-border-light);
    transition: all .3s ease;
}

.so-navbar__main-column--links > li > a.so-navbar__contact-button:hover {
    border-color: transparent;
}

.so-navbar__main-column--links > li.so-navbar__contact-button-container {
    position: relative;
    margin: 0 0 0 10px;
}

.so-navbar__main-column--links > li.so-navbar__contact-button-container::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--so-main-gradient);
    opacity: 0;
    transition: opacity .3s ease;
}

.so-navbar__main-column--links > li > a.so-navbar__contact-button::after {
    display: none;
}

.so-navbar__main-column--links > li.so-navbar__contact-button-container:hover::before {
    opacity: 1;
}

.so-navbar--transparent .so-navbar__main-column--links > li.so-navbar__contact-button-container:hover::before {
    opacity: 0;
}

.so-navbar--transparent .so-navbar__main-column--links > li > a.so-navbar__contact-button:hover {
    background-color: var(--so-dark);
}

.so-main-section {
    margin-top: var(--so-section-spacing);
}

.so-hero {
    color: var(--so-light);
    padding-top: var(--so-navbar-height);
    position: relative;
    background-image: url('../images/hero_owl.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media(min-width: 1024px) {
    .so-hero {
        height: 100%;
        min-height: 700px;
        padding-bottom: var(--so-feature-card-offset);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.so-hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--so-main-gradient);
    opacity: 0.9;
}

.so-hero__content {
    position: relative;
}

.so-hero__title {
    font-family: var(--so-accent-font);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

@media(min-width: 1024px) {
    .so-hero__title {
        font-size: 64px;
        margin-bottom: 40px;
    }
}

.so-hero__paragraph {
    font-size: var(--so-hero-font-size);
    line-height: var(--so-hero-font-spacing);
    margin-bottom: 1rem;
}

@media(min-width: 1024px) {
    .so-hero__paragraph {
        max-width: 500px;
        margin-bottom: 52px;
    }
}

.so-hero__button {
    color: var(--so-light);
    border: var(--so-border-light);
}

.so-hero__button:hover {
    background-color: var(--so-dark);
    color: var(--so-light);
    border-color: var(--so-dark);
}

.so-feature-cards {
    z-index: 1;
}

@media(min-width: 1024px) {
    .so-feature-cards {
        margin-top: calc(var(--so-feature-card-offset) * -1);
    }
}

.so-feature-card {
    position: relative;
    background-color: #000;
    padding: 1rem;
}

@media(min-width: 1024px) {
    .so-feature-card {
        background-color: transparent;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: calc(var(--so-feature-icon-size) * 0.5) 0 0;
    }
}

.so-feature-card__icon {
    display: inline-flex;
    height: var(--so-feature-icon-size);
    width: var(--so-feature-icon-size);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    background-color: var(--so-light);
}

@media(min-width: 1024px) {
    .so-feature-card__icon {
        position: absolute;
        top: 0;
        left: var(--so-card-padding);
    }
}

.so-feature-card__icon .material-icons {
    font-size: 42px;
    color: var(--so-dark);
}

.so-feature-card__content {
    padding: 1rem 0 0;
    background-color: var(--so-dark);
    color: var(--so-light);
}

@media(min-width: 1024px) {
    .so-feature-card__content {
        padding: calc(var(--so-card-padding) + var(--so-feature-icon-size) * 0.5 - 5px) var(--so-card-padding) var(--so-card-padding) var(--so-card-padding);
        flex-grow: 1;
    }
}

.so-feature-card__title {
    font-size: var(--so-main-heading-size);
    font-family: var(--so-heading-font);
    margin-bottom: 0.5em;
}

.so-feature-card__content p {
    font-size: inherit;
    line-height: var(--so-lead-paragraph-line-height);
    margin-bottom: 0;
}

@media(min-width: 1024px) {
    .so-about-text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }
}

.so-about-content {
    margin-bottom: 1.5em;
}

@media(min-width: 1024px) {
    .so-about-content {
        width: 85%;
        flex-grow: 1;
    }
}

.so-about-image-container {
    position: relative;
}

@media(min-width: 1024px) {
    .so-about-image-container {
        padding-left: var(--so-image-spacing);
        padding-top: 50px;
    }
}

.so-about-image {
    position: relative;
    z-index: 1;
}

@media(min-width: 1024px) {
    .so-about-image {
        width: calc(100% - 50px);
    }
}

.so-about-image__black-box {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    right: 0;
    background-color: var(--so-dark);
}

@media(min-width: 1024px) {
    .so-about-image__black-box {
        display: block;
    }
}

.so-project__image-container a {
    display: block;
}

.so-project__image-container a, .so-project__image-container img {
    width: 100%;
}

@media(min-width: 1024px) {
    .so-project-section--left .so-project__image-container {
        padding-left: var(--so-image-spacing);
    }

    .so-project-section--right .so-project__image-container {
        padding-right: var(--so-image-spacing);
    }
}

.so-project__title {
    font-size: 1.4rem;
    font-family: var(--so-accent-font);
    font-weight: 700;
    margin-bottom: 0.3em;
}

.so-project__title a {
    color: inherit;
}

@media(min-width: 1024px) {
    .so-project__title {
        font-size: 40px;
        margin-bottom: 16px;
    }
}

.so-project__chip-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media(min-width: 1024px) {
    .so-project__chip-list {
        margin-bottom: 16px;
        font-size: 14px;
    }
}

.so-project__chip-item--introduction {
    text-transform: uppercase;
    color: #777676;
}

.so-project__chip-item {
    margin-left: 10px;
    margin-bottom: 10px;
}

.so-project__chip-item:first-child {
    margin-left: 0;
}

.so-project__chip {
    border-radius: 20px;
    background-color: #f1f1f1;
    display: inline-block;
    padding: 6px 10px;
}

@media(min-width: 1024px) {
    .so-project__content {
        margin-bottom: 32px;
    }
}

.so-project__content p {
    line-height: var(--so-lead-paragraph-line-height);
    margin-bottom: 1em;
}

.so-project__content p:last-child {
    margin-bottom: 0;
}

.so-contact-section {
    background: linear-gradient(to right, #005c97, #363795);
    color: #fff;
    padding: 2rem 0;
}

@media(min-width: 1024px) {
    .so-contact-section {
        padding: 128px 0;
        min-height: calc(100% - var(--so-navbar-height) + 1px);
    }
}

@media(min-width: 1024px) {
    .so-contact-section__heading {
        padding-right: var(--so-image-spacing);
    }
}

.so-contact-section__title {
    font-size: var(--so-main-heading-size);
    font-family: var(--so-heading-font);
    font-weight: 700;
    margin-bottom: 1rem;
}

@media(min-width: 1024px) {
    .so-contact-section__title {
        margin-bottom: 32px;
    }
}

.so-contact-section__intro-paragraph {
    font-size: var(--so-hero-font-size);
    line-height: var(--so-hero-font-spacing);
    margin-bottom: 1em;
}

@media(min-width: 1024px) {
    .so-contact-section__intro-paragraph {
        margin-bottom: 32px;
    }
}

.so-contact-section__alt-contact-method {
    display: inline-flex;
    align-items: center;
    font-family: var(--so-button-font);
    font-weight: 700;
    font-size: var(--so-hero-font-size);
    line-height: 1;
    color: inherit;
    opacity: 0.85;
    transition: opacity .3s ease;
}

.so-contact-section__alt-contact-method:hover {
    color: inherit;
    opacity: 1;
}

.so-contact-section__alt-contact-method .material-icons {
    margin-right: 0.5em;
}

.so-contact-section__contact-form-card {
    background-color: var(--so-dark);
    color: var(--so-light);
    padding: var(--so-card-extra-padding);
}

.so-contact-section__contact-form-card > *:last-child {
    margin-bottom: 0;
}

.so-contact-field {
    margin-bottom: 1rem;
}

@media(min-width: 1024px) {
    .so-contact-field {
        margin-bottom: 32px;
    }
}

.so-contact-field__label {
    display: block;
    margin-bottom: 0.5rem;
    font-family: var(--so-heading-font);
    font-size: inherit;
    font-weight: 700;
    color: inherit;
}

@media(min-width: 1024px) {
    .so-contact-field__label {
        margin-bottom: 14px;
    }
}

.so-contact-field__input {
    position: relative;
    width: 100%;
    padding: 2px;
}

.so-contact-field__input::before, .so-contact-field__input::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease;
}

.so-contact-field__input::before {
    background-color: var(--so-light);
}

.so-contact-field__input::after {
    background: var(--so-main-gradient);
    opacity: 0;
}

.so-contact-field__input:focus-within::after {
    opacity: 1;
}

.so-contact-field__input input, .so-contact-field__input textarea {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    background-color: var(--so-dark);
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0.4rem;
    z-index: 1;
}

.so-contact-field__input textarea {
    resize: none;
}

@media(min-width: 1024px) {
    .so-contact-field__input input, .so-contact-field__input textarea {
        padding: 12px;
    }
}

.so-contact-form-button-container::before {
    opacity: 1;
}

.so-contact-form-button-container:hover::before {
    opacity: 0;
}

.so-contact-form-button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid transparent;
    display: inline-flex;
    align-items: center;
}

.so-contact-form-button:hover {
    background-color: var(--so-dark);
    border-color: var(--so-light);
}

.so-contact-form-button .material-icons {
    margin-right: 10px;
}

.so-footer {
    padding: var(--so-navbar-padding);
    background-color: var(--so-dark);
    color: var(--so-light);
}

@media(min-width: 1024px) {
    .so-footer__main-row {
        display: flex;
        align-items: center;
    }
}

@media(min-width: 1024px) {
    .so-footer__main-column--link-list {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.so-footer__link-list {
    display: flex;
    align-items: center;
}

.so-footer__link-item {
    margin-right: 10px;
}

.so-footer__link-item:last-child {
    margin-right: 0;
}

.so-footer__link-item a {
    color: var(--so-light);
    font-family: var(--so-button-font);
    transition: opacity .3s ease;
    opacity: 0.9;
}

.so-footer__link-item a:hover {
    opacity: 1;
}